.header {
  font-size: 2rem;
  padding: $s-size $l-size;
  border-bottom: 2px solid darken($light-gray, 10%);
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: $m-size;

  &__wrapper {
    margin: 0 auto;
    max-width: 1440px;
    box-sizing: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
}
