.header {
  font-size: 2rem;
  padding: $s-size $l-size;
  border-bottom: 2px solid darken($light-gray, 10%);
  display: flex;
  align-items: center;
  background-color: white;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;

  &__wrapper {
    margin: 0 auto;
    max-width: 1440px;
    box-sizing: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
}
