* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.btn {
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 600;
  padding: 1rem;
  background: none;
  border: 1px solid black;
  border-radius: 1rem;
  &:hover {
    cursor: pointer;
  }
  &--no-border {
    border: none;
  }
  &--long {
    padding-left: $l-size;
    padding-right: $l-size;
  }
}

.wrapper {
  // padding: 0 $m-size;
  max-width: 1440px;
  margin: 0 auto;
}

// @media (max-width: $breakpoint-desktop) {
//   .wrapper {
//     background-color: blue;
//   }
// }
// @media (max-width: $breakpoint-tablet) {
//   .wrapper {
//     background-color: green;
//   }
// }
// @media (max-width: $breakpoint-mobile) {
//   .wrapper {
//     background-color: red;
//   }
// }
