$mobile-width: 375px;
$desktop-width: 1440px;

$dark-blue-1: hsl(209, 23%, 22%);
$dark-blue-2: hsl(207, 26%, 17%);
$dark-blue-3: hsl(200, 15%, 8%);
$dark-gray: hsl(0, 0%, 52%);
$light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$breakpoint-desktop: 1440px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 375px;

$s-size: 2rem;
$m-size: 3rem;
$l-size: 4.5rem;
$xl-size: 6rem;
